/* header */
.header-bg
{
    background-image: url('../B10A1-Challenge-Begins/assets/Hero-bg.png');
    flex-direction: column;
    justify-items:auto;
    margin-top:100px;
   
    
    
   
}
.header-btn
{
    height:50px;
    width:150px;
    background-color: #0D1321;
    color: #FFFFFF;
    margin: 32px 645px 44px;
    text-align: center;
    font-weight:700px;
    border-radius: 10px;
   
}
.header-img
{
    height: 240px;
    width: 240px;
    margin-left: 590px;
   
   
}

.header-title
{
   font-weight:bolder;
   color: #0D1321;
   font-size: 48px;
   margin:32px 320px 0px;
   /* height: 70px;
   width: 1000px; */
   text-align: center;
}
.header-description
{
    margin:32px 270px 0px 300px ;
    font-size: 17px;
    color: #1E1E1D;
    text-align:center;
    
}